# Node
node_modules/
**/node_modules/

# Build output
dist/
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# OS
ehsThumbs.db
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
